{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.add_user.title'|trans }}{% endblock %}

{% block record %}
    <p class="info">{{ 'page.add_user.info'|trans }}</p>
    <h2>{{ 'page.add_user.title'|trans }}</h2>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <table class="form">
            <tr>
                <td class="description">{{ form_label(form.name) }}</td>
                <td>
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </td>
            </tr>
            <tr>
                <td class="description">{{ form_label(form.surname) }}</td>
                <td>
                    {{ form_errors(form.surname) }}
                    {{ form_widget(form.surname) }}
                </td>
            </tr>
            <tr>
                <td class="description">{{ form_label(form.province) }}</td>
                <td>{{ form_widget(form.province) }}</td>
            </tr>
            <tr>
                <td class="description">{{ form_label(form.city) }}</td>
                <td id="select">{{ form_widget(form.city) }}</td>
            </tr>
            <tr>
                <td class="description">{{ form_label(form.description) }}</td>
                <td>
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ form_widget(form.save) }} {{ form_widget(form.reset) }}</td>
            </tr>
        </table>
    {{ form_end(form) }}
{% endblock %}

{% block ajax %}
    <script>
        $(document).ready(function() {
            function updateCitySelect(selectedProvince) {
                $.post('{{ path('ajax_city_list') }}', {selectId: 'add_user_city', selectName: 'add_user[city]', selectedProvince: selectedProvince, selectedCity: {{ selectedCity }}}, function(response) {
                    if (response.code == 100 && response.success) {
                        $('#select').html(response.citySelect);
                    }
                }, 'json');
            }

            $('#add_user_province').change(function() {
                updateCitySelect(this.value);
            });
        });
    </script>
{% endblock %}
